# Pandas Tutorial

In [1]:
import pandas as pd

In [2]:
data={"Name" : ["Daniel","Alice","Charlie"],"Age" : [15,16,17]}

In [3]:
pd.DataFrame(data)

      Name  Age
0   Daniel   15
1    Alice   16
2  Charlie   17

In [4]:
pd.Series(data)

Name    [Daniel, Alice, Charlie]
Age                 [15, 16, 17]
dtype: object

In [5]:
sr=[1,2,3,4,5,6]

In [6]:
pd.Series(sr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64